<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="footer-container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2 pl-5">
				<img src="\static\images\logo-white.png" class="img-fluid"/>
			</div>
			<div class="col-md-8 d-flex flex-column align-items-center text-md-center white">
				<span  class="px-2">help@alcampus.com</span>
				<span  class="px-2">Av. de la Reina Mercedes, 41012 Sevilla</span>
				<span  class="px-2">Developed by: PGPI/2-009</span>
				<a href="https://github.com/andpizcer/pgpi-alcampus">Project development</a>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa white"></i>
				<i class="fab fa-lg fa-cc-paypal white"></i>
				<i class="fab fa-lg fa-cc-mastercard white"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script type="text/javascript">

	$(document).ready(function(){
					$('.thumb a').click(function(e){
							e.preventDefault();
							$('.mainImage img').attr('src', $(this).attr('href'));
					});
			});

</script>
</body>
</html>
